//fonts
$roboto: 'Roboto',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
// colors
$red: #e26060;
$white: #f2f2f2;
$green: #78b378;
$blue: #2c71a8;
$dark: #333;
// box-shadow
$box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
$btn__box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
rgba(90, 125, 188, 0.05) 0px 0.25em 1em;